In [1]:
import datetime
from datetime import date
import time

In [2]:

today = datetime.datetime.now()
print (today.strftime("%d-%b-%Y %H:%M:%S"))

12-Jun-2022 07:12:36

In [14]:
today

datetime.datetime(2022, 5, 31, 16, 29, 12, 907655)

In [12]:
# Return the year and name of weekday:
x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Friday

In [13]:
# Create a date object
x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [14]:
# Display the name of the month:
x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [20]:
# %B 	Month name, full version
# %m  Month as a number 01-12
# %b  Month name, short version
# %d  Day of month 01-31
# %A  Weekday, full version

In [22]:
start = datetime.datetime (2021,6,1) # set to june of last year
end = datetime.datetime.now() # set for now

In [23]:
start

datetime.datetime(2021, 6, 1, 0, 0)

In [3]:


datetime.date(2008, 6, 24)
time_to_birthday = abs(my_birthday - today)
time_to_birthday.days

IndentationError: expected an indented block after 'if' statement on line 9 (286880850.py, line 10)

In [15]:
today = date.today()
today

datetime.date(2022, 5, 31)

In [16]:
datetime.date(2007, 12, 5)

datetime.date(2007, 12, 5)

In [17]:
today == date.fromtimestamp(time.time())

True

In [23]:
my_birthday = date(today.year, 6, 24)
my_birthday

datetime.date(2022, 6, 24)

In [25]:
datetime.date(2008, 6, 24)

datetime.date(2008, 6, 24)

In [26]:
time_to_birthday = abs(my_birthday - today)
time_to_birthday.days

24

In [27]:
# d = date.fromordinal(730920) # 730920th day after 1. 1. 0001
# d
datetime.date(2002, 3, 11)

datetime.date(2002, 3, 11)

In [5]:
# Methods related to formatting string output
d.isoformat()

'2002-03-11'

In [6]:
d.strftime("%d/%m/%y")

'11/03/02'

In [7]:
d.strftime("%A %d. %B %Y")

'Monday 11. March 2002'

In [8]:
d.ctime()

'Mon Mar 11 00:00:00 2002'

In [9]:
# Methods for to extracting 'components' under different calendars
t = d.timetuple()
for i in t:     
    print(i)

ic = d.isocalendar()
for i in ic:    
    print(i)

2002
3
11
0
0
0
0
70
-1
2002
11
1

In [10]:
# A date object is immutable; all operations produce a new object
d.replace(year=2005)
datetime.date(2005, 3, 11)

datetime.date(2005, 3, 11)